<h1>Welcome to ChiangmaiCaffe</h1>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<p>
  <%= link_to 'Create new caffe', new_caffe_path %>
</p>
<div class="row">
  <% @caffes.each do |caffe|  %>
    <div class="col-md-3 col-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <a href="/caffes/<%= caffe.id %>">
            <p class="card-text">
              <p class="card-text"><%= caffe.name  %></p>
              <p class="card-text"><%= caffe.comment  %></p>
            </p>
          </a>
          <td><%= link_to "Delete",caffe_path(caffe), method: :delete ,data: { confirm: "Are you sure?"} %></td>
          <td><%= link_to "Edit", edit_caffe_path(caffe) %></td>
        </div>
      </div>
    </div>
  <% end %>
</div>
