<div class="container caffe-show-container">
  <h2 class="text-center mt-4"><%= @caffe.name %></h2>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded card-container">
        <div class="card-body card-body-show-caffe">
          <div class="card-text">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
              <div class="swiper-wrapper">
                <% if @caffe.images? %>
                  <% @caffe.images.each do |image| %>
                    <div class="swiper-slide"><%= image_tag image.to_s %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
              <div class="swiper-wrapper">
                <% if @caffe.images? %>
                  <% @caffe.images.each do |image| %>
                    <div class="swiper-slide"><%= image_tag image.to_s %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>
        <div class="card-text-container card-text-caffe-show-container">
          <% if @caffe.area == "Nimman" %>
            <p class="card-text "><span class="area-label"><%= @caffe.area %></span></p>
          <% elsif @caffe.area == "Old Town" %>
            <p class="card-text "><span class="area-label2"><%= @caffe.area %></span></p>
          <% elsif @caffe.area == "Other" %>
            <p class="card-text "><span class="area-label3"><%= @caffe.area %></span></p>
          <% end %>
          <div class="card-text text-left caffe-name-show"><%= simple_format(@caffe.name) %></div>
          <div class="card-text text-left"><%= simple_format(@caffe.comment) %></div>
          <div class="like-container">
            <p id="caffe-<%= @caffe.id %>">
              <% if user_signed_in? %>
                <% if @caffe.liked_by?(current_user) %>
                  <%= render "like", caffe: @caffe %>
                <% else %>
                  <%= render "dislike", caffe: @caffe %>
                <% end %>
              <% end %>
            </p>
          </div>
          <% if user_signed_in? and @caffe.user == current_user %>
            <div class="button-area-container">
              <%= link_to "Edit", edit_caffe_path(@caffe), class: "btn btn-outline-info" %>
              <%= link_to "Delete", caffe_path(@caffe), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
          <% end %>
          <div class="footer-container" >
            by <%= link_to @caffe.user.username, user_path(@caffe.user), class: "username-color" %><br>
            <small>Created <%= time_ago_in_words(@caffe.created_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
