<h1 class="text-center mt-4"><%= @user.username %>'s profile</h1>
<%= image_tag @user.avator.url, size: 400 %>
<div class="text-center mt-4">
  <h3><%= @user.introduce %></h3>
  <% if user_signed_in? and @user == current_user %>
    <%= link_to "Edit your profile", edit_user_registration_path(@user), class: "mt-4 btn btn-outline-info" %>
  <% end %>
</div>
<%= render 'shared/caffe' %>
<%= paginate @caffes %>
