<h1 class="text-center mt-4">Digital Nomads</h1>
<div class="row">
  <% @users.each do |user|  %>
    <div class="col-md-3 col-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <a href="/users/<%= user.id %>">
            <div class="card-img-top"><%= image_tag user.avator.url %></div>
            <div class="card-text-container" >
              <p class="card-text card-text-username"><%= user.username %></p>
              <p class="card-text"><%= truncate(user.introduce, length:28)  %></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% if current_page?(root_path) %>
  <div class="view-btn">
    <%= link_to "View More", users_path,  class: "log-in-link btn" %>
  </div>
<% end %>
