<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#" >
    <title>Chiang Mai Café Map</title>
    <meta property="og:title" content="Chiang Mai Café Map" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://chiangmai-cafe-map.herokuapp.com/" />
    <meta property="og:image" content="ogp-image.jpg" />
    <meta property="og:site_name" content="Chiang Mai Café Map" />
    <meta property="og:description" content="Develop the Café maps of Chiang Mai" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Rubik+Dirt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <body>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/message' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
      <script>
        var swiper = new Swiper(".mySwiper", {
          spaceBetween: 10,
          slidesPerView: 4,
          freeMode: true,
          watchSlidesProgress: true,
        });
        var swiper2 = new Swiper(".mySwiper2", {
          spaceBetween: 10,
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          thumbs: {
            swiper: swiper,
          },
        });
      </script>
    </body>
  </html>
